/* Início CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* Zera as margens e os paddings de todos os elementos, define o box-sizing para manter o tamanho dos elementos e aplica a fonte global */
}

.container-custom {
    width: 90%; /* Ajustado para telas pequenas */
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    /* Define uma largura personalizada para o container e centraliza-o horizontalmente */
}

@media (max-width: 768px) {
    
    .container-custom {
        width: 100%; /* Remove margens laterais em dispositivos menores */
        padding: 0 10px;
    }
}

/* Estilização do Header */
header {
    position: relative;
    /* Define o header com posição relativa para possibilitar posicionamentos absolutos internos */
}

header#topo {
    background: url(/assets/img/banner-topo.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed; /* Parallax Effect */
    height: 660px;
    /* Aplica a imagem de fundo no header com posição e tamanho específicos, e define a altura do header */
}

img.img-fluid.logo-custom {
    height: 34px;
    /* Define a altura da logo dentro do header */
}

.sublogo {
    margin-top: -10px;
    padding-top: 0;
    font-size: 0.75em;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    /* Estiliza o subtítulo abaixo da logo, incluindo sombra de texto */
}

/* Estilização do Box no Topo */
.box-topo {
    position: relative;
    top: -10%;
    background: #ffffffc4;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.9);
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px; /* Ajustado para telas menores */
    /* Aplica um fundo semi-transparente, sombra, largura e arredondamento ao box que contém o conteúdo no topo da página */
}

/* Estilização do Botão de Contato */
.btn-contato {
    background-color: #3c184e;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    font-size: 1.2rem;
    /* Estiliza o botão de contato, definindo cores, padding, bordas arredondadas e margem inferior */
}

@media (max-width: 576px) {
    .btn-contato {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.btn-contato:hover {
    transform: scale(1.1);
    /* Adiciona um efeito de crescimento ao passar o mouse */
}

.btn-contato i {
    color: #fff;
    /* Mantém a cor branca para o ícone dentro do botão */
}

/* Estilização da Seção de Serviços */
.container.text-center.pt-5.mt-5 {
    width: 70%;
    /* Define a largura do container para a seção de serviços */
}

.list-custom {
    list-style-type: square;
    padding-left: 1rem;
    /* Estiliza a lista de serviços com marcadores quadrados e padding à esquerda */
}

.list-custom li {
    text-align: justify;
    /* Justifica o texto dentro dos itens da lista de serviços */
}
.box-img.shadow-lg.pb.d-flex.justify-content-between.flex-wrap.mt-5{
    background: rgba(77, 104, 129, 0);
}
/* Estilização das Imagens na Seção de Serviços */
.box-img img {
    height: 300px;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Define o estilo das imagens na seção de serviços, incluindo altura, cursor, bordas arredondadas e efeito de transição */
}

.box-img img:hover,
.row img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Adiciona um leve zoom e sombra ao passar o mouse */
}

/* Estilização da Faixa Social Roxa */
.faixa-social {
    background: #3c184e;
    color: aliceblue;
    font-size: 1rem;
    /* Define o fundo roxo e a cor do texto branco para a faixa social */
}

/* Estilização do Rodapé */
footer.bg-dark {
    background-color: #3c184e !important;
    /* Define a cor de fundo do rodapé */
}

footer a {
    font-size: 1.5em;
    margin-right: 15px;
    /* Estiliza os links de redes sociais no rodapé com tamanho de fonte maior e espaçamento entre eles */
}

footer a:hover {
    color: #ffd700;
    /* Aplica uma cor de destaque ao passar o mouse sobre os links do rodapé */
}

/* Preloader */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define o preloader que cobre toda a tela até o site carregar */
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3c184e;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* Animação de rotação para o preloader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Animação de Fade-In */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
.dev{
    color: white;
}